In [1]:
import pandas as pd
import numpy as np

In [3]:
customers_df = 'D:/New folder/customers.csv'
products_df = 'D:/New folder/products.csv'
returns_df = 'D:/New folder/returns.csv'
sales_df = 'D:/New folder/sales.csv'

In [5]:
customers = pd.read_csv(customers_df)
products = pd.read_csv(products_df)
sales = pd.read_csv(sales_df)
returns = pd.read_csv(returns_df)

In [7]:
customers_info = customers.info()
products_info = products.info()
sales_info = sales.info()
returns_info = returns.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   CustomerID  200 non-null    int64
 1   Name        200 non-null    object
 2   Age         200 non-null    int64
 3   Gender      200 non-null    object
 4   Region      200 non-null    object
 5   Email       200 non-null    object
dtypes: int64(2), object(4)
memory usage: 9.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ProductID      50 non-null     int64
 1   ProductName    50 non-null     object
 2   Category       50 non-null     object
 3   Price          50 non-null     float64
 4   StockQuantity  50 non-null     int64
dtypes: float64(1), int64(2), object(2)
memory usage: 2.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   SaleID       1000 non-null   int64
 1   Date         1000 non-null   object
 2   CustomerID   1000 non-null   int64
 3   ProductID    1000 non-null   int64
 4   Quantity     1000 non-null   int64
 5   TotalAmount  1000 non-null   float64
dtypes: float64(1), int64(4), object(1)
memory usage: 47.0+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ReturnID    150 non-null    int64
 1   SaleID      150 non-null    int64
 2   ReturnDate  150 non-null    object
 3   Reason      150 non-null    object
dtypes: int64(2), object(2)
memory usage: 4.8+ KB

In [ ]:
customers_head = customers.head()
products_head = products.head()
sales_head = sales.head()
returns_head = returns.head()

In [ ]:
customers_head

In [ ]:
products_head

In [ ]:
sales_head

In [ ]:
returns_head

In [11]:
missing_values = {
    "customers": customers.isnull().sum(),
    "products": products.isnull().sum(),
    "returns": returns.isnull().sum(),
    "sales": sales.isnull().sum()
}
missing_values

In [13]:
customers.fillna(customers.mean(numeric_only=True), inplace=True)
customers.fillna(method='ffill', inplace=True)

C:\Users\AYUSH\AppData\Local\Temp\ipykernel_11356\493446038.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  customers.fillna(method='ffill', inplace=True)

In [17]:
duplicates = {
    "customers": customers.duplicated().sum(),
    "products": products.duplicated().sum(),
    "returns": returns.duplicated().sum(),
    "sales": sales.duplicated().sum()
}
duplicates

In [19]:
customers.drop_duplicates(inplace=True)
products.drop_duplicates(inplace=True)
returns.drop_duplicates(inplace=True)
sales.drop_duplicates(inplace=True)

(missing_values, duplicates)

({'customers': CustomerID    0
  Name          0
  Age           0
  Gender        0
  Region        0
  Email         0
  dtype: int64,
  'products': ProductID        0
  ProductName      0
  Category         0
  Price            0
  StockQuantity    0
  dtype: int64,
  'returns': ReturnID      0
  SaleID        0
  ReturnDate    0
  Reason        0
  dtype: int64,
  'sales': SaleID         0
  Date           0
  CustomerID     0
  ProductID      0
  Quantity       0
  TotalAmount    0
  dtype: int64},
 {'customers': 0, 'products': 0, 'returns': 0, 'sales': 0})

In [29]:
sales_products = sales.merge(products, on="ProductID")
sales_products

,SaleID,Date,CustomerID,ProductID,Quantity,TotalAmount,ProductName,Category,Price,StockQuantity
0,1,2023-09-12,118,1,7,4738.02,Story,Furniture,676.86,499
1,2,2023-05-12,178,45,9,5574.42,System,Furniture,619.38,13
2,3,2023-01-22,165,4,9,2620.62,Mission,Furniture,291.18,401
3,4,2023-09-09,154,47,8,6400.56,Smile,Clothing,800.07,176
4,5,2023-01-12,165,25,2,930.42,Thank,Clothing,465.21,231
...,...,...,...,...,...,...,...,...,...,...
995,996,2023-11-13,110,31,9,2529.81,Operation,Electronics,281.09,47
996,997,2024-01-01,18,37,7,3989.09,Table,Books,569.87,183
997,998,2023-11-25,167,40,9,4714.83,Where,Books,523.87,169
998,999,2023-10-24,4,8,4,487.76,Office,Electronics,121.94,472
999,1000,2023-05-20,184,46,7,3454.92,With,Electronics,493.56,457

In [33]:
descriptive_stats = {
    "Mean": sales['TotalAmount'].mean(),
    "Median": sales['TotalAmount'].median(),
    "Variance": sales['TotalAmount'].var(),
    "Standard Deviation": sales['TotalAmount'].std()
}

descriptive_stats

{'Mean': 2641.32634,
 'Median': 2075.0,
 'Variance': 3941856.3728198255,
 'Standard Deviation': 1985.4108826184633}